@font-face {
    font-family: wonderland;
    src: url(/fonts/Beyond_Wonderland.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    font-family: sans-serif;
    position: relative;
}

.container {
    max-width: 1170px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.logo {
    color: white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: wonderland;
    margin-left: 10px;
}

.nav-links {
    list-style: none;
    padding-right: 60px;
    line-height: 25px;
}

.nav-links li {
    display: inline-block;
    text-decoration: none;
    margin-left: 40px;
}

.nav-links li a {
    font-family: 'Sirin Stencil';
    text-decoration: none;
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, .7);
    font-size: 18px;
    position: relative;
}

.nav-links a:hover {
    color: white;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-toggler span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0%;
    transition: .5s;
}

.nav-toggler span::before {
    top: -6px;
}

.nav-toggler span::after {
    top: 6px;
}

#nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* macbook photo */

.macbook {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.macbook img {
    padding: 0 25px 25px 25px;
    width: 82%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    padding: 30px 0;
}

/* Biography */

.bio {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bio div {
    width: 43%;
}

.bio div p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 31.5px;
    text-transform: none;
    color: black;
}

.bio div h2 {
    font-family: brandon-grotesque, Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 5.25px;
    line-height: 75px;
    text-transform: uppercase;
    color: #252D37;
    padding: 25px 0;

}

.bio img {
    width: 35%;
    margin: 30px;
}

/* Projects */

#projets{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.projet{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.projet img{
    width: 30%;
    height: auto;
    padding: 10px;
}

.projet img:hover{
    transform: scale(1.3);
    transition: .5s;
    opacity: .5;
}

#projets h1{
    font-family: brandon-grotesque, Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 5.25px;
    line-height: 75px;
    text-transform: uppercase;
    color: #252D37;
    padding: 50px 0;
}


/* Footer */

footer {
    background-color: black;
}

footer div {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.socialMedia {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

i {
    color: white;
}

footer div h3 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}

/* Autowriter part */

.line-1 {
    font-family: sans-serif;
    text-align: center;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-firstline {
    animation: typewriter1 1.5s steps(18) 1.5s 1 normal both,
        blinkTextCursor 700ms steps(18) 6 forwards;
}

.anim-secondline {
    animation: typewriter2 2.5s steps(28) 2s 1 normal both,
        blinkTextCursor2 700ms steps(22) 1.5s 5 both;
    animation-delay: 4.5s;

}

.anim-thirdline {
    animation: typewriter3 2.7s steps(40) 2s normal both,
        blinkTextCursor2 700ms steps(40) 1.5s infinite both;
    animation-delay: 8.5s;
}

.typing {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}

.typing div:nth-child(1),
.typing div:nth-child(2),
.typing div:nth-child(3) {
    display: flex;
    justify-content: center;
}

@keyframes typewriter1 {
    from {
        width: 0;
    }

    to {
        width: 41%;
    }
}

@keyframes typewriter2 {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

@keyframes typewriter3 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

@keyframes blinkTextCursor2 {
    0% {
        border-right-color: transparent;
    }

    50% {
        border-right-color: rgba(0, 0, 0, 0.75);
    }

    100% {
        border-right-color: transparent;
    }
}

/*   Responsive part . . .   */

@media (max-width : 830px) {
    .nav-toggler {
        display: flex;
    }

    .nav-links {
        position: absolute;
        z-index: 1;
        left: 0%;
        top: 100%;
        width: 100%;
        background-color: black;
        border-top: 1px solid rgba(255, 255, 255, .2);
        opacity: 0;
        visibility: hidden;
    }

    .nav-links li {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header #nav-check:checked~.nav-links {
        opacity: 1;
        visibility: visible;
        transition: .4s;
    }

    header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }

    header #nav-check:checked~.nav-toggler span::before {
        top: 0%;
        transform: rotate(405deg);
        transition: .5s;
    }

    header #nav-check:checked~.nav-toggler span::after {
        top: 0%;
        transform: rotate(-405deg);
        transition: .5s;
    }

    footer div {
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .socialMedia {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .footer-mobile>* {
        margin: 20px
    }

    .bio {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .bio div {
        width: 75%;
    }

    .bio div p {
        text-align: center;
        margin-bottom: 20px;
    }

    .bio div h2 {
        text-align: center;
        line-height: 60px;
    }

    .projet{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
    }

    .projet img{
        width: 50%;
        height: auto;
        padding: 10px;
        margin: 10px auto;
    }

    #projets h1{
        font-size: 30px;
        padding: 0 10px;
    }
    
}

@media (max-width : 950px) {
    .line-1{
        font-size: 140%;
    }
    
}

@media (max-width : 770px) {
    .line-1{
        font-size: 120%;
    }
    
}

@media (max-width : 670px) {
    .line-1{
        font-size: 90%;
    }
    
}

@media (max-width : 520px) {
    .line-1{
        font-size: 70%;
    }
    
}

@media (max-width : 420px) {
    .line-1{
        font-size: 50%;
    }
    
}